# Laravel
/vendor/
/node_modules/
public/storage
storage/*.key
.env
.env.*
*.env

# Laravel storage and cache
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
bootstrap/cache/*.php

# Composer
composer.lock
auth.json

# NPM / Yarn / PNPM
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
*.log

# Symfony
.phpunit.result.cache
.phpunit.cache/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.phpactor.json
/.fleet
/.zed

# OS files
.DS_Store
Thumbs.db

# Laravel misc
/public/hot
/public/build
/.nova

# Env backups
.env.backup
.env.production

# Homestead
Homestead.yaml
Homestead.json

# Pail (Laravel log viewer)
storage/pail
